.Rproj.user
.Rhistory
.RData
yep.geojson
myfile.geojson
myfile.topojson
.V8history
.DS_Store
.httr-oauth
revdep/checks.noindex
revdep/library.noindex
revdep/data.sqlite
*.txt
inst/ignore/geojson_read_old.R
EW.geojson
