on: [push, pull_request]

name: R-CMD-check-docker

jobs:
  R-CMD-check-docker:
    runs-on: ubuntu-latest
    
    name: ${{ matrix.config.image }}

    strategy:
      fail-fast: false
      matrix:
        config:
        - { image: "jakubnowosad/geocompr_proj6"}
        - { image: "rocker/geospatial:devel"}
        
    container: ${{ matrix.config.image }}
    
    steps:
      - uses: actions/checkout@v1

      - name: Install dependencies
        run: Rscript -e "install.packages('remotes')" -e "remotes::install_deps(dependencies = TRUE)" -e "remotes::install_cran('rcmdcheck')"

      - name: Check
        run: Rscript -e "rcmdcheck::rcmdcheck(args = '--no-manual', error_on = 'warning', check_dir = 'check')"

      - name: Upload check results
        if: failure()
        uses: actions/upload-artifact@master
        with:
          name: ${{ runner.os }}-${{ matrix.config.image}}
          path: check
